
<%= simple_form_for @job, html: { multipart: true } do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">

    <div class="row">
      <div class="col">
        <%= f.input :title, required: true, input_html: { class: "input" }, wrapper: false, label_html: { class: "label" }, label: "Title" %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= f.input :location , required: true, input_html: { class: "input" }, wrapper: false, label_html: { class: "label" }  %>
      </div>
      <div class="col">
      <%= f.input :job_author, required: true, input_html: { class: "input" }, wrapper: false, label_html: { class: "label" }, label: "Company" %>
      </div>
    </div>
    <div class="row">
      <div class="col">
      <%= f.input :url, required: false, input_html: { class: "input" }, wrapper: false, label_html: { class: "label" }, label: "URL" %>
      </div>
      <div class="col">        
        <%= f.input :apply_url, required: false, input_html: { class: "input" }, wrapper: false, label_html: { class: "label" }, label: "Application URL" %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= f.input :job_type, collection: Job::JOB_TYPES, prompt: "Select a job type" %>
        </div>
        <div class="col pt-4">       
        <small><label class="boolean optional checkbox pt-1" for="job_remote_ok"><%= f.input :remote_ok, required: false, input_html: { class: "checkbox" }, wrapper: false, label: false %> Work can be done remotely?</label></small>
      </div>
    </div>
  <div class="row">
    <div class="col">
      <%= f.input :description, required: true, input_html: { class: "input" }, wrapper: false, label_html: { class: "label" }, label: "Description" %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label class="label">Logo upload</label>
      <div class="file">
        <%= f.input :avatar, as: :file, require: false, input_html: { class: "file-input job-avatar" }, label: false, wrapper: false %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= render 'payment' %>
    </div>
  </div>
  <div class="row">
    <div class="col">
        <%= f.button :submit, class: "mt-5 mb-4" %>
    </div>
  </div>
<% end %>
