
<header>
  <h2 class="mb-5">Search our job board for free, or post a job for $10 per 30 days</h2>

  <%= form_tag(jobs_path, method: :get) do %>
    
  <div class="container">
  <div class="row">
  <div class="col-5">
  <%= text_field_tag :description, params[:description], placeholder: "Keywords" %>
    </div>
  <div class="col">
  <%= select_tag :industry, params[:industry], :prompt => "Industry" %>
  </div>
  <div class="col">
  <%= text_field_tag :location, params[:location], placeholder: "Location" %>
  </div>
  <div class="col-2">
  <%= submit_tag 'Search Jobs', name: nil %>
  </div>
  </div>
</div>
<% end %>
</header>




<hr class="mt-5 pt-5 mb-5 pb-5" />



    <% @jobs.each do |job| %>
      <div class="job">
        <h3><%= link_to job.title, job %></h3>
        <p><%= job.description %></p>
        <small><%= job.job_type %> <%= job.location %> <%= job.job_author %> <%= job.remote_ok %> <%= job.apply_url %>  <%= link_to 'Edit', edit_job_path(job) %> <%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %>
        </small>
        </div>
    <% end %>

