<div class="row">
  <div class="col">
<div class="show">

  <div class="job clearfix">
        <div class="job-logo mb-4">
          <% if !@job.avatar.file.nil? %>
            <%= link_to image_tag(@job.avatar_url(:thumb), alt: @job.job_author, width: 90, height: 90), @job.url %>
          <% end %>
          </div>
        <div class="job-info">
          <div class="meta">
            <h3><%= @job.title %></h3>
            <div class="type"><%= @job.job_type %></div>
            <div class="type remote"><%= @job.remote_ok %></div> 

            <small class="float-right">
              <strong><%= @job.job_author %></strong> in <i><%= @job.location %></i></small>
            </div>
          
            <p><%= @job.description %></p>
          </div>
        </div>



<p><p><a href="<%= @job.url %>" target="_blank" class="btn btn-secondary">Visit company website</a></p>

<p><a href="<%= @job.apply_url %>" target="_blank" class="btn btn-success">Apply to this job!</a></p>

<% if current_user.try(:admin) || job_author(@job) %>
<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
<% end %>
</div>

</div>
</div>