
				<h2 class="title is-2">Log in</h2>

				<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

				<div class="row">
					<div class="col">
			    	<%= f.input :email, required: false, input_html: { class: "input"}, wrapper: false, label_html: { class: "label" } %>
					</div>					
					<div class="col">
						<%= f.input :password, required: false, input_html: { class: "input"}, wrapper: false, label_html: { class: "label" } %>
					</div>
				</div>
				<div class="row">
					<div class="col">
				    <%= f.input :remember_me, wrapper: false, as: :boolean if devise_mapping.rememberable? %>
				  	</div>
					</div>
					<div class="row mt-3 mb-4">
						<div class="col">

				  <%= f.button :submit, "Log in", class:"button is-outlined is-medium" %>
					</div>
				</div>
				<% end %>
				<br/>
				<%= render "devise/shared/links" %>
			</div>
		</div>
	</div>
</section>