<!DOCTYPE html>
<html>
  <head>
    <title><%= Rails.configuration.application_name %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,400i,500,700" rel="stylesheet">
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', "https://js.stripe.com/v2/", "https://js.stripe.com/v3/", 'data-turbolinks-track': 'reload' %>

    <%= tag :meta, name: "stripe-public-key", content: Figaro.env.stripe_publishable_key %>

  </head>

  <body class="<%= yield (:body_class) %> mt-5">

  <div class="container">
    <% if flash[:notice] %>
      <div class="alert alert-success alert-dismissible fade show">
        <p class="notice"><%= notice %></p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
      </div>
    <% end %>


    <% if flash[:alert] %>
    <div class="alert alert-warning alert-dismissible fade show">
      <p class="alert"><%= alert %></p>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
    </div>
    <% end %>
    </div>

    <div class="container">
    <div class="row">
    <div class="col-3 logo">

        <%= link_to root_path do %>
          <img src="/img/logo.png" alt="devJobs" class="mr-3" /> <%= Rails.configuration.application_name %>
        <% end  %>
      </div>
      <div class="col">

      <nav>
      <div id="navbar" class="navbar-menu mt-4">
        <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
        <%= link_to root_path, class:"navbar-item" do %>Search<% end  %>
          </div>
          </div>
          <div class="navbar-item">
            <div class="field is-grouped">
              <%= link_to 'Post Job', new_job_path, class: "navbar-item button" %>

          </div>
        </div>
      </div>
      </div>
      </nav>
      </div>
      <div class="col mt-3 float-right is-right">

      <% if user_signed_in? %>

      <div class="navbar-item has-dropdown is-hoverable float-right is-right">
          <%= link_to current_user.name, edit_user_registration_path, class:"btn btn-primary" %>
          <%= link_to "Log Out", destroy_user_session_path, method: :delete, class:"btn btn-secondary" %>
      </div>
    <% else %>
    <div class="navbar-item has-dropdown is-hoverable float-right is-right">
      <%= link_to "Login", new_user_session_path, class:"btn btn-primary" %>
      <%= link_to "Signup", new_user_registration_path, class:"btn btn-secondary"%>
    </div>
    <% end %>
      </div>
      </div></div>

  <section class="section">
    <div class="container pt-5">
      <%= yield %>
    </div>
  </section>

  <footer class="footer m-5">
    <div class="container">
      <div class="content has-text-centered">
        <small>&copy; 2018 <%= Rails.configuration.application_name %>. All rights reserved.</small>
        <div class="float-right"><small>Page Rendered in <%= sprintf('%.3f', (Time.now.to_f - @start_time) ) %> seconds</small></div>
      </div>
    </div>
  </footer>

  </div>
  </div>
  </div>

  <script type="text/javascript">
  window.setTimeout(function() {
    $(".alert").fadeTo(500, 0).slideUp(500, function(){
        $(this).remove(); 
    });
}, 4000);
</script>
  </body>
</html>